@import url("https://fonts.cdnfonts.com/css/wondar-quason-free");
@import url("https://fonts.cdnfonts.com/css/wondar-quason-free");
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "TodesLight";
  src: "./Assets/fonts/Todes Light.ttf" format("ttf");
}
@font-face {
  font-family: "TodesLight";
  src: "./Assets/fonts/Todes Light.ttf" format("ttf");
}
p, h1, h2, h3, h4, h5 {
  padding: 1%;
}

h1, h2, h3, h4, h5 {
  font-family: "Wondar Quason Free", sans-serif;
}

h5 {
  font-size: 1.5vw;
}

h3 {
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-family: "TodesLight", sans-serif;
  font-size: 1.5vw;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  padding: 5% 0;
}

.container > * {
  max-width: inherit;
}

.item {
  background-color: #ffffff;
  margin: 1%;
  width: 60px;
}
.item .icon {
  width: 30%;
  padding-top: 10%;
}
.item .arrow {
  width: 12%;
  padding-bottom: 10%;
}

.item:hover {
  background-color: rgb(200, 169, 105);
}
.item:hover h5 {
  color: white;
}
.item:hover .icon {
  filter: brightness(0) invert(1);
}
.item:hover .arrow {
  filter: grayscale(1) invert(1);
}

.center {
  justify-content: center;
  text-align: center;
}

.sectionText {
  padding-top: 7%;
}

.sectionText p {
  padding-top: 0;
}

.sectionBackgroundText {
  padding-top: 5%;
  position: absolute;
  color: rgba(200, 169, 105, 0.1);
  text-transform: uppercase;
  text-align: left;
  font-size: 8vw;
}

#ChooseCategory {
  background-color: rgba(200, 169, 105, 0.2);
}

#categoryIconsContainer {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 5%;
  column-gap: 5%;
  row-gap: 7%;
  margin: 1%;
  padding: 6%;
  padding-bottom: 6%;
  padding-bottom: 14%;
  background-image: linear-gradient(to right, rgba(200, 169, 105, 0.2), rgba(200, 169, 105, 0.2)), url("../Assets/img/banner/imgbgcategory.jpg");
  background-size: 90% 70%;
  background-repeat: no-repeat;
  padding-top: 6%;
  background-position: right;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #categoryIconsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-size: 105% 100%;
    background-position: 0%;
  }
  .item {
    width: 90px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #categoryIconsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-size: 105% 100%;
    background-position: 0%;
  }
  .item {
    width: 110px;
  }
}
@media screen and (min-width: 1025px) {
  #categoryIconsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2%;
    background-image: none;
  }
  #ChooseCategory {
    background-image: linear-gradient(to right, rgba(200, 169, 105, 0.2), rgba(200, 169, 105, 0.2)), url("../Assets/img/banner/imgbgcategory.jpg");
    background-size: 109% 107%;
    background-position: 49% 18%;
  }
  .item {
    min-width: 120px;
    padding: 2% 0;
  }
}
@media screen and (min-width: 1025px) and (min-width: 1200px) {
  .item {
    min-width: 150px;
  }
}
@media screen and (min-width: 1025px) and (min-width: 1500px) {
  .item {
    min-width: 200px;
  }
  .sectionBackgroundText {
    margin-left: -150px;
  }
}
@media screen and (min-width: 1025px) and (min-width: 2100px) {
  .item {
    min-width: 250px;
  }
  .sectionBackgroundText {
    margin-left: -350px;
  }
}/*# sourceMappingURL=Style.css.map */