@import "../abstracts/__abstracts-dir";

p, h1,h2,h3,h4,h5,h6{
    padding:1%;

}

h1,h2,h3,h4,h5,h6{
   font-family: $titleFont ;
}

h5{
    font-size: 1.5vw;
}
h3{
    font-size: 3vw;
    font-weight: 100;
    text-transform: uppercase;
}

p{
    font-family: $paragraphFont ;
   font-size: 1.5vw;
}

.sectionBackgroundText{
    
        font-family: $titleFont ;
        white-space: nowrap;
     
}