.sectionGrid{
    display:grid;
}


.sectionText {
    padding-top: 7%;
}

.sectionText p {
    padding-top: 0;
}

.sectionBackgroundText {
    padding-top: 5%;
    position: absolute;
    color: $colorBackgroundText;
    text-transform: uppercase;
    text-align: left;
    font-size: 8vw;
    ;
}


.center {
    justify-content: center;
    text-align: center;

}


img{
    padding:5% 0;
}
