.price{
    font-family: $titleFont;
    color:$secondaryColor;
    font-size: 3vw;
    grid-column: 2;
    grid-row: 1/3;
    text-align: end;
    font-weight: 50;
}

.specialOfferDescription{
    font-size:1vw;
    display:inline;
    grid-column: 1;
    grid-row: 2;
}

.specialOfferItem{
    border-radius: 3%;
    background-color: $primaryColor;
padding:3%;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#SpecialOffer-Grid{
    display:grid;
    margin:5% 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:3%;

    .item{
        grid-column: 3/5;
    }
}

#SpecialOffer-Img-Bread{
    position:absolute;
    right:0;
    top:0;
    width:32%;
}

#SpecialOffer-Img-Steak{
    position: absolute;
  left: 0;
  bottom: -14%;
  width:15%;

}

#SpecialOffer{
    position:relative;
    background-color: rgba(200, 169, 105, 0.2);
        padding-bottom: 9%;
    z-index:-2;
    img {
        z-index: -1;
    }

}

@media screen and (min-width: 769px){

    #SpecialOffer-Grid{

        grid-template-columns: 1fr 3fr 3fr 1fr ;
  
    row-gap: 5%;
    column-gap: 2%;
        .item:nth-child(odd){
            grid-column: 2;
        }

        .item:nth-child(even){
            grid-column: 3;
        }
    }

    #SpecialOffer-Img-Steak{
        
      bottom: -24%;
    
    }

    #SpecialOffer-Img-Bread{
        
        height:100%;
      
      }
    
      @media screen and (min-width: 1401px){

        .item{
            h5{
                font-size:22px;
            }

            .specialOfferDescription{
                font-size:15px;
            }

            .price{
                font-size:46px;
            }
        }
      }

}