
.sectionCategory-Item {
    background-color: #ffffff;
    margin: 1%;
    width: 60px;

    .icon {
        width: 30%;
        padding-top: 10%;
    }

    .arrow {
        width: 12%;
        padding-bottom: 10%;
    }
}

.sectionCategory-Item:hover {
    background-color: rgb(200, 169, 105);

    h5 {
        color: white;
    }

    .icon {
        filter: brightness(0) invert(1);
    }

    .arrow {
        filter: grayscale(1) invert(1);
    }
}



#ChooseCategory {

    background-color: rgba(200, 169, 105, 0.2);
}

#categoryGrid {
    grid-template-columns: auto auto;
    column-gap: 5%;
    row-gap: 7%;
    margin: 1%;
    padding: 6% 6% 20% 6%;
    background-image: linear-gradient(to right, rgba(200, 169, 105, 0.2), rgba(200, 169, 105, 0.2)), url("../Assets/img/banner/imgbgcategory.jpg");
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (min-width: 481px) and (max-width:768px) {

    #categoryGrid {
        display: grid;
        grid-template-columns: auto auto auto;
        background-size: 105% 100%;
        background-position: 0%;
    }

    .sectionCategory-Item {
        width: 90px;
    }

}

@media screen and (min-width: 769px) and (max-width:1024px) {

    #categoryGrid {
        display: grid;
        grid-template-columns: auto auto auto;
        background-size: 105% 100%;
        background-position: 0%;
    }

    .sectionCategory-Item {
        width: 110px;
    }

}

@media screen and (min-width: 1025px){


    #categoryGrid {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 2%;
        background-image: none;

    }

    //Background image positionning
    #ChooseCategory {
        background-image: linear-gradient(to right, rgba(200, 169, 105, 0.2), rgba(200, 169, 105, 0.2)), url("../Assets/img/banner/imgbgcategory.jpg");
        background-size: 109% 107%;
        background-position: 49% 18%;
        background-repeat: no-repeat;
    }

    .sectionCategory-Item {
        min-width: 120px;
        padding: 2% 0;
    }

    @media screen and (min-width:1200px) {
        .sectionCategory-Item {
            min-width:150px;
        }

        .sectionCategory-Item h5{
            font-size: 1vw;
        }

        // for the text background ot be aligned left
        .sectionBackgroundText{
            font-size: 6vw;
        }
    }

    @media screen and (min-width:1401px) {
 
        .sectionCategory-Item h5{
            font-size: 18px;
        }

        // for the text background ot be aligned left
        .sectionBackgroundText{
            font-size: 110px;
        }

        .sectionText{
            padding-top:9%;
            h3{
                font-size:40px;
            }

            p{
                font-size:25px ;
            }
        }

        #categoryGrid{
            padding-top: 4%;
        }

        
    }

       

}

