#blog-Grid{
    display:grid;
    grid-template-columns: 30%;
    margin:5% 0;
    img{
        width:100%;
    }
}


@media screen and (min-width:769px){
    #blog-Grid{
        display:grid;
        grid-template-columns: auto auto auto;
        margin:5% 15%;
        column-gap:2%;
        img{
            width:100%;
        }
    }
}