
#AboutUs-TexteAndIcon-Wrapper{
    position: relative;
    }
    
    #AboutUs-IconWrapper{
        position: absolute;
        top: 40%;
        right: 10%;
      
    }
    
    #AboutUs-Icon{
        float: right;
        width: 27%;
    }
   
    