#SpecialOffer-Img-Bread{
    position:absolute;
    right:0;
    top:0;
    width:32%;
}

#SpecialOffer{
    position:relative;
    background-image: linear-gradient(to right, rgba(200, 169, 105, 0.2), rgba(200, 169, 105, 0.2));
}