
    #BAT {
        width : 120px;
        display: flex;
        position: relative;
        background-color: $secondaryColor;
        color : $primaryColor;
        text-transform:uppercase ;
        justify-content: space-around;
        border : none;
        border-radius: .3125rem;
        margin: 0.5rem;
        padding:  0.600rem;
        img {
            width: 9%;
            align-self: center;
            -webkit-filter: invert(500%) contrast(500%);
                    filter: invert(500%) contrast(500%);
        };
    }

