$black:#1d1d1d;
$primaryColor:rgb(255, 255, 255);
$secondaryColor:rgb(200, 169, 105);
$colorBackgroundText:rgb(200, 169, 105, 0.1);
$thirdColor:rgb(250, 246, 240);
$titleFont:'Wondar Quason Free', sans-serif;
$paragraphFont: 'TodesLight', sans-serif;